{
  "plugins": ["@vitest"],
  "extends": ["airbnb-base", "plugin:@vitest/legacy-recommended", "prettier"],
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "prefer-destructuring": "off",
    "import/extensions": "off"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": {
        "@vitest/env": true
      }
    }
  ]
}
